.ourCommunity {
  transform: translateY(9%);
}

.mainText {
  position: absolute;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  color: var(--quaternary-color);
  z-index: 1;
}

.mainText__firstLine {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.mainText__secondLine {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.mainText__thirdLine {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 3rem;
}

.mainText__btn {
  width: 286px;
  border: none !important;
  margin-top: 1rem;
  color: var(--quaternary-color) !important;
  background-color: var(--primary-color) !important;
}
