:root {
  --bg-primary: #00aa46;
  --primary-color: #ffffff;
  --secondary-color: #616f92;
  --third-color: #878787;
  --font-family: "Poppins", Arial, Helvetica, sans-serif;
  --font-weight-200: 200;
  --font-weight-400: 400;
}

* {
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  display: none;
}
