footer.ant-layout-footer {
  background-color: var(--primary-color);
  padding: 0;
  margin: 0;
}

div.ant-row > div.ant-col > a > i {
  font-size: 1.5rem;
  color: #000000;
}

div.ant-row > div.ant-col > a > i:hover {
  background-color: #e6e6e6;
  padding: 3px;
  border-radius: 50%;
}

div.ant-row > div.ant-col > span {
  font-size: 0.7rem;
  font-weight: var(--font-weight-400);
  color: var(--secondary-color);
}

div.ant-row > div.ant-col > button.ant-btn:hover {
  border-color: var(--bg-primary);
}

div.ant-row > div.ant-col > button.ant-btn > i {
  font-size: 1rem;
  font-weight: var(--font-weight-400);
  color: var(--bg-primary);
}
